@{
    ViewData["Title"] = "Home Page";
}


<form id="form">
    <div class="row">
        <div class="col-sm-12 justify-content-end">
            <input class="btn btn-success" id="AddForm" value="Thêm câu hỏi" />
        </div>
    </div>
    <div class="form-group" id="FormDefault">
        <label for="">Câu hỏi</label>
        <div class="dvQuestion">
            <input type="text" class="form-control" name="Question" placeholder="Viết câu hỏi" />
        </div>

        <div class="Answer">
            <div class="dvAnswer">
                <input type="radio" class="radio" name="radioAnswer">
                <input type="text" class="form-control" name="Answer" value="">
                <input type="button" class="btn btn-success btnAddAnswer" onclick="AddNewAnswer(event)"
                    value="Thêm câu trả lời">
            </div>
        </div>
    </div>

    <input type="button" class="btn btn-primary" onclick="SaveQuiz(event)" value="Lưu">
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#AddForm").on("click", function (e) {
                e.preventDefault();
                var patternForm = `
                        <div class="form-group" id="FormDefault">
                            <label for="">Câu hỏi</label>
                            <div class="dvQuestion">
                                <input type="text" class="form-control" name="Question" placeholder="Viết câu hỏi" />
                                <input type="button" class="btn btn-warning" value="Xóa câu hỏi" onclick="RemoveQuestion(event)">
                            </div>
                            <div class="Answer">
                                <div class="dvAnswer">
                                     <input type="radio" class="radio" name="radioAnswer">
                                    <input type="text" class="form-control" name="Answer" value="">
                                    <input type="button" class="btn btn-success btnAddAnswer" onclick="AddNewAnswer(event)"
                                    value="Thêm câu trả lời">
                                </div>
                            </div>
                        </div>`;
                $("#form").append(patternForm);
            })
        })

        function AddNewAnswer(e) {
            e.preventDefault();
            var patternAnswer = `
                                        <div class="dvAnswer">
                                             <input type="radio" class="radio" name="radioAnswer">
                                            <input type="text" class="form-control" name="Answer" value="">
                                            <input type="button" class="btn-RemoveAnswer btn btn-warning" onclick="RemoveNewAnswer(event)"
                                            value="Xóa câu trả lời">
                                         </div>
                                                                                `;
            var el = $(e.currentTarget).closest(".Answer");
            el.append(patternAnswer);
        }

        function RemoveNewAnswer(e) {
            e.preventDefault();
            $(e.currentTarget).closest(".dvAnswer").remove();
        }

        function RemoveQuestion(e) {
            e.preventDefault();
            $(e.currentTarget).closest('.form-group').remove();
        }

        function SaveQuiz(e) {
            e.preventDefault();
            var obj = [];
            @* var questions = $("input[name='Question']"); *@
            var lstForm = $("#form .form-group");
            lstForm.each(function (index, el) {
                var objQuestion = new Object();
                   var title = $(el).val();
                   objQuestion.Title = title;
                

                $(el).find(".dvAnswer").each(function(index,el){
                    @* console.log(el); *@
                })

            })
        @* console.log(questions); *@


        @* $.ajax({
            type: "POST",
            url: "/Home/Add",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj),
            success: function(data){
            if (data == "OK")
            {
            document.location.href = "/";
            }
            }
            }) *@
            }
    </script>
}
